/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
@font-face {
	font-family:"eurofurence light";
	src:url("../fonts/eurofurence_light_regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"eurofurence regular";
	src:url("../fonts/eurofurence_regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #FFFFFF;
	background-color: #428bca;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #FFFFFF;
	background-color: #428bca;
}
.dropdown-menu>li>a:hover {
	background: #428bca;
	color: #fff;
}
 #navbar .navbar-collapse.collapse {
 	float: right;
 }
body.navbar-is-fixed-top {
	padding-top: 51px!important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 100;
} 
h2 {
	font-size: 50px;	
	text-align: center;
}

/*navigation*/
.navbar-default .navbar-nav>li>a {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 15px;
	color: #555;
	cursor: pointer;
}
/*slider*/
/*.md-mainimg img {
	position: fixed;
	z-index: 0;
}
.md-strips-container, .md-blocks-container {
	overflow: visible;
	position: fixed;
	z-index: 100;
	width:100%;
}*/
.region-header {
	height: 510px;
}
#block-md-slider-1 {
	position: fixed;
	height: 510px;
	width: 100%;
	z-index: -100;
}
.md-slide-items {
	height: 510px;
}

/*parallax*/
/*#intro{
	 background:url(../img/unsplash.jpg) 50% 0 no-repeat fixed;
	 color: white;
	 height: 600px;
	 margin: 0;
	 padding: 160px 0 0 0;
}*/
#intro .bg{
	 background: url(../img/unsplash.jpg) 50% 0 no-repeat fixed;
	  position: absolute;
	  z-index: 200;
}
#third {
	background: url(../img/unsplash2.jpg) 50% 0 no-repeat fixed;
	color: white;
	min-height: 420px;
	padding: 100px 0 100px 0;	
}
#second {
	background: url(../img/unsplash.jpg) 50% 0 no-repeat fixed;
	color: white;
	min-height: 420px;
	padding: 50px 0 0 0;	
/*	box-shadow: inset 0px 1px 15px rgba(0,0,0,0.5);
	moz-box-shadow: inset 0px 1px 15px rgba(0,0,0,0.5);
	webkit-box-shadow: inset 0px 1px 15px rgba(0,0,0,0.5);*/
}
.slogan_in_parallax {
	font-size: 40px;
	font-family: 'Roboto Condensed', sans-serif;
}

/*div settings*/
body.front .my_main_container {	
	padding: 60px 0 0 0;
}
.my_main_container {
	padding: 60px 0;
	background: #fff;
}
.my_hight .jumbotron {
	background: #fff;
	padding: 0;
}
.my_hight {
	padding: 60px 0;
	background: #fff;
}
.under_footer {
	padding: 60px 0;
	background: #fff;
}
.my_footer {
	background-color: #313131;
}
.my_footer .footer {
	border: none;
	color: #fff;
	margin-top: 0;
}
#block-quicktabs-team-quicktabs  h2 {
	text-align: center;
	/*font-family:"eurofurence light";*/
	font-family: 'Roboto Condensed', sans-serif;
}
#quicktabs-team_quicktabs ul {
	padding: 0;
	text-align: center;
}
#quicktabs-team_quicktabs ul li {	
	font-family: 'Roboto Condensed', sans-serif;
	border: 1px solid #BBB;
	padding: 15px 10px 12px 10px;
	line-height: 45px;
	box-shadow: 1px 3px 5px #ccc;
	border-radius: 3px;
}
#quicktabs-team_quicktabs ul li:hover {
	background: #428bca;
}
#quicktabs-team_quicktabs ul li a {
	padding: 15px;
	color: #505050;
	font-size: 25px;
	font-weight: 300;
}
#quicktabs-team_quicktabs ul li a:hover {
	text-decoration: none;
	color: #fff;
}
#quicktabs-team_quicktabs ul li:hover a {
	color: #fff;
}
#quicktabs-team_quicktabs p {
	text-align: justify;
}
#quicktabs-team_quicktabs span {
	font-size: 20px;
	float: left;
	margin-left: -40px;
}
#quicktabs-team_quicktabs span.icon-circlek {
	color: #A43E3E;	
}
#quicktabs-team_quicktabs span.icon-circlep {
	color: #3E50A4;
}
#quicktabs-team_quicktabs span.icon-circles {
	color: #3EA448;
}
/*portfolio*/
.portfolio {
	background: #fff;
}
.view-id-portfolio_view img {
	width: 100%;
	height: auto;
	border-radius: 3px;
	/*box-shadow: 3px 5px 10px #A4A4A4;
	moz-box-shadow: 3px 5px 10px #A4A4A4;
	webkit-box-shadow: 3px 5px 10px #A4A4A4;	*/
}
.content_slogan h2 {
	color: #fff;
}
.view-id-portfolio_view .col-sm-4 {
	margin-bottom: 10px;
	padding: 0 5px;
}
#block-views-portfolio-view-block h2.block-title {
	text-align: center;
	margin-bottom: 35px;
}
.top_content,
.portfolio {
	padding: 60px 0 100px 0;
}
.content_slogan {
	padding: 20px 0;
}
.content_slogan {
	background: #29ABE2;
}
.big_slogan {
	color: #fff;
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 50px;
	font-weight: 100;
	text-align: center;
	margin-bottom: 30px;
}
.preim {
	background: #fff;
	padding: 40px 0 80px 0;
}
.uslugi {
	background: #29ABE2;
	padding: 40px 0 80px 0;
	color: #fff;
}
.uslugi h3 {
	font-weight: 400;
}
#block-block-9 .fa-heart-o {
	color: #FF5C56;
}
#block-block-9 .fa-smile-o {
	color: #3F87CA;
}
#block-block-9 .fa.fa-group {
	font-size: 40px;
	color: #E74249;
}
#block-block-9 .fa.fa-cogs {
	font-size: 48px;
	color: #717171;
}
#block-block-9 .fa.fa-bullseye {
	color: #414141;
}
#block-block-9 .fa.fa-leaf {
	color: #4CA43A;
	font-size: 45px;
	padding-bottom: 40px;
}
#block-block-9 i {
	float: left;
	font-size: 50px;	
	margin-top: 20px;
	padding: 0 10px 30px 0;
}

/*forms*/
#block-webform-client-block-10,
#block-webform-client-block-10--2 {
	/*padding: 30px;
	background: #fff;
	border-radius: 10px;
	color: #999;*/
}
#myModalForm .modal-content {
	width: 400px;
	margin: 0 auto;	
}
#myModalForm .modal-header .close {
	margin-top: -10px;
}
.webform-client-form button {
	margin: 20px 0;
	width: 100%;
}
.block_form {
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	color: #999;
	box-shadow: 3px 5px 15px #3D3D3D;
	moz-box-shadow: 3px 5px 15px #3D3D3D;
	webkit-box-shadow: 3px 5px 15px #3D3D3D;	
}
.block_form .confid {
	color: #555;
	font-family: 'Roboto Condensed', sans-serif;
}
.webform-client-form input.form-text {
	margin-top: 10px;
}
.block-webform h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 30px;
}
.block-webform label {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
}
.center {
	text-align: center;
}

/*contacts*/
.contacts {
	margin-top: 30px;
	font-size: 30px;
}

/*mightySlider*/
#modern .frame {
	width: 100%;
	height: 180px!important;
	background: #29ABE2;
	color: #fff;
}
#modern .frame ul {
    list-style: none;
    height: 100%;
    margin: 0;
}
#modern .frame ul li {
    float: left;
    width: 585px!important;
    height: 100%;
    padding: 20px 20px;
}
#modern .frame ul li.first {
    padding-left:0px;
}
#modern .frame ul li img {
    max-width: none;
    float: left;
}
#modern .slide_wrapper {
	padding-left: 142px;
}
#modern h4 {
	font-size: 25px;
	font-weight: 400;
}
#modern p {
	color: #000;
}
#block-block-11 .controls {
    text-align: center;
}
#block-block-11 .controls a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px;
}
#block-block-11 a .fa {
font-size: 60px;
font-weight: 100;
color: #DCEFFF;
}
#block-block-11 {
    position: relative;
}
a#modern_prev {
    position: absolute;
    left: -40px;
    top: 107px;
}
a#modern_next {
    position: absolute;
    right: -40px;
    top: 107px;
}
#block-block-11 .slide_one {
	opacity: 0.6;
}
#block-block-11 .slide_one.active {
	opacity: 1;
}

#block-block-6 img{
	float: left;
	width: 200px;
	position: absolute;
	bottom: 0;
}
#block-block-6 p {
	padding-left: 200px;
	padding-bottom: 30px;	
}
nav .fa.fa-angle-down {
	font-size: 25px;
	padding-left: 10px;
	line-height: 16px;
}


